{% extends'base.html.twig' %}


{% form_theme form 'home/form_image.html.twig' %}
{% block body %}
    <body>
    <h1 class="text-center  font-roboto fw-bold ">Formulaire </h1>
    <div class="container bg-comment-degrade">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
        {{ form_end(form) }}
    </div>



    <script src="{{ asset('js/a2lix_sf_collection.js') }}"></script>

    <script>
        // A global initialization on all Symfony Form collection with manageRemoveEntry feature enable
        a2lix_lib.sfCollection.init()


        // OR a custom initialization with restricted scope of Symfony Form collection with manageRemoveEntry feature disable
        a2lix_lib.sfCollection.init({
            collectionsSelector: 'form div[data-a2lix-collection]',
            manageRemoveEntry: false
        })
    </script>
    </body>



{% endblock %}