{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
{#    <body class="bg bg-danger-home-degrade">#}
        <div class="body_home" id="home">
            {% for flashError in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert">{{ flashError }}</div>
            {% endfor %}

            {% for success in app.Flashes('success') %}
                <div class="alert alert-success" role="alert"><i class="fas fa-info-circle fa-2x"></i> {{ success }}</div>
            {% endfor %}
            {% for danger in app.Flashes('danger') %}
                <div class="alert alert-danger" role="alert"><i class="fas fa-info-circle fa-2x"></i> {{ danger }}</div>
            {% endfor %}
            <div class="example-wrapper">
                {% include'carousel/carousel.html.twig' %}
            </div>


            {# debut #}
            <div class="container bg bg-white pb-4 my-4">
                {# Debut button scroll #}
                <section id="sec-1">
                    <div class="container">
                        <a href="#figures">
                            <div class="scroll-down" title="Voir les figures"></div>
                        </a>
                    </div>
                </section>
                {# Fin Button scroll #}

                {% if figure is defined %}
                    <h2 class=" text-center mb-3 font-google">Liste des figures</h2>
                {% endif %}
                {% if app.user %}
                    <a href="{{ path('formulaire_') }}" class="btn btn-outline-dark"> Ajouter une figure</a>
                {% endif %}

                <hr>

                <div class="row row-cols-1 row-cols-md-5 g-4 justify-content-center">
                    {% for figure in figure %}
                        <div class="col">
                            {% if app.user %}
                                <span class="d-left">
                             <a href="{{ path('figure_edit', {'slug': figure.slug}) }}" class="btn btn-outline-dark margin"><i
                                         class="fas fa-edit"></i></a>
                            {{ include('figure/_delete_form.html.twig') }}
                        </span>
                                <hr>
                            {% endif %}
                            <div class="card ">
                                <img src="{{ absolute_url(asset('images/' ~ figure.imagefig[0].image)) }}" alt="image"
                                     class="card-img-top ">
                                <div class="card-body text-center bg-navbar">

                                    <small class="card-title text-light font-roboto"> {{ figure.nom }}</small><br>
                                    <a href="{{ path('figure_details',{'slug': figure.slug }) }}"
                                       class="btn btn-danger mt-2 font-roboto"><i class="fa fa-eye"></i> Consulter</a>
                                </div>
                            </div>

                        </div>
                    {% endfor %}
                </div>

                {# pagination  #}
                <hr>
                {% if nbrePage >0 %}
                    {% for i in range(1, nbrePage) %}
                        <div class="d-inline-block text-center"  id="figures">
                            <a href="{{ path('home',{'page':i}) }}" class="btn btn-dark"> Page {{ i}}  </a>
                        </div>
                    {% endfor %}
                {% endif %}
                {# pagination #}
            </div>

            <div class="position">
                <a href="#home" class="btn btn-dark button-top"><i class="fa fa-angle-double-up"></i></a>
            </div>
            {# button #}
        </div>
{#    </body#}
{% endblock %}
