{% extends 'base.html.twig' %}

{% block title %}
    {{ slug }}
{% endblock %}

{% block body %}
    <body class="bg-danger-home-degrade">
        {% for success in app.Flashes('success') %}
            <div class="alert alert-success" role="alert">{{ success }}</div>
        {% endfor %}
        <div class="container bg-comment-degrade ">
            <h1 class="text-center text-light font-google ">{{ figures.nom }}</h1>
            <a href="{{ path('home') }}" class="btn btn-dark"><i class="fa fa-arrow"></i> Retour à la liste</a>
            {% if app.user %}
                <a href="{{ path('figure_edit', {'slug': figures.slug}) }} " title="Modifier la figure" class="btn btn-danger margin"><i
                        class="fas fa-edit"></i></a>
            {% endif %}
            <hr>
            {# carrousel #}
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner ">
                    {% for image in figures.imagefig %}
                        <div class="carousel-item {{ loop.index is same as(1) ? 'active' }}  ">
                            <img src="{{ absolute_url(asset('images/' ~  image.image)) }}" alt="image"
                                 class=" d-block w-100 width-image-carousel">
                        </div>

                    {% endfor %}
                </div>
            </div>
            {# fin carousel #}
            <hr>
                {# detail summary if mobil #}
            <details class="text-center mobil-version-detail ">
                <summary class="mobil-version-detail">
                    Voir image & video
                </summary>
               {# show  image and video  #}
                <h2 class="text-center font-google text-light">Image associée à cette figure </h2>
                <div class="row row-cols-1 row-cols-md-4 g-4 justify-content-center" width="320" height="240">
                    {% for image in figures.imagefig %}
                        <img src="{{ absolute_url(asset('images/' ~  image.image)) }}" alt="image" class="img-fluid object-fit-image bg-danger-home-degrade">
                    {% endfor %}
                </div>
                {# video #}
                <hr>

                {% if figures.videofig|length==0 %}
                    <h2 class="text-center font-google text-light">Aucune vidéo n'est disponible pour le moment !</h2>
                {% else %}
                    <h2 class="text-center font-google text-light">Video associée</h2>

                    <div class=" row row-cols-1 row-cols-md-4 g-4 justify-content-center">
                        {% for video in figures.videofig %}
                            {% if figures.videofig is not null %}
                                <iframe width="560" height="315"
                                        src="{{ video.video }}"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                                </iframe>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                {# fin video #}
            </details>
                {# end detail if mobil #}

            <section class="mobil-version">
                <h2 class="text-center font-google text-light">Image associée à cette figure </h2>
                <div class="row row-cols-1 row-cols-md-4 g-4 justify-content-center" width="320" height="240">
                    {% for image in figures.imagefig %}
                        <img src="{{ absolute_url(asset('images/' ~  image.image)) }}" alt="image" class="img-fluid object-fit-image bg-danger-home-degrade">
                    {% endfor %}
                </div>
                {# video #}
                <hr>

                {% if figures.videofig|length==0 %}
                    <h2 class="text-center font-google text-light">Aucune vidéo n'est disponible pour le moment !</h2>
                {% else %}
                    <h2 class="text-center font-google text-light">Video associée</h2>

                    <div class=" row row-cols-1 row-cols-md-4 g-4 justify-content-center">
                        {% for video in figures.videofig %}
                            {% if figures.videofig is not null %}
                                <iframe width="560" height="315"
                                        src="{{ video.video }}"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                                </iframe>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                {# fin video #}
            </section>
            <hr>

            {# description #}
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-center text-danger">{{ figures.nom }} </h4>
                    <p>{{ figures.description }}</p>
                    <p>Groupe : {{ figures.groupe }}</p>
                    <hr>
                    <p class="card-title text-muted">Auteur<br>
                        <img src="{{ absolute_url(asset('images/avatar/' ~ figures.utilisateurs.picture)) }}" alt="image"
                             class="avatar">
                        {{ figures.utilisateurs }}
                    </p>
                </div>
            </div>
            {# fin description #}

            {# formulaire commentaire #}
            {% if app.user %}
                {{ include('commentaires/_form.html.twig') }}
            {% else %}
                <hr>
                <details class="text-center">
                    <summary class="pt-2 font-title-form-comment ">Laisser vos commentaires <i
                                class="fa fa-comments text-danger"></i></summary>
                    <p class="pt-3">
                        Commenter une figure nécessite de
                        <a class="btn btn-dark " href="{{ path('app_login') }}"> Se Connecter</a>
                    </p>
                </details>
                <hr>
            {% endif %}
            {# fin formulaire commentaire #}

            <div class="card ">
                {% if app.user %}
                    {% if  figures.commentaire|length ==0 %}
                        <p class="text-center card-header">Soyez le premier à commenter cet article </p>
                    {% else %}
                        <h2 class="text-center card-header ">Les commentaires </h2>
                    {% endif %}
                {% endif %}


{#                 {% for commentaires in commentaireFigure %}#}
                    <div class="card ">
                        <div class="row">
                            {% for commentaires in commentaireFigure %}
                                <div>
                                    <span class="text-muted">Commenté par :</span><br>
                                    <img src="{{ absolute_url(asset('images/avatar/' ~ commentaires.utilisateurs.picture))}}" alt="image" class="avatar">
                                    <span class="name_avatar"> {{ commentaires.utilisateurs|capitalize }}</span>
                                    <p class="ml-3 mr-3_">" {{commentaires.contenu }} "</p>
                                </div>
                                <div>

                                    <p class="mt-2 text-muted"><i class="fa fa-calendar"></i> Le {{ commentaires.dateDuCommentaire|date('d-m-Y') }} à {{ commentaires.dateDuCommentaire|date('H:i:s') }}</p>
                                </div>
                                <hr>
                            {% endfor %}
                        </div>
                    </div>
            </div>
            {# pagination commentaire #}
            <div class="bg-comment-degrade">
                {% if nbreCommentaire>0%}
                    {% for i in range(1, nbreCommentaire) %}
                        {% if figures.commentaire|length  ==0%}
                        {% else %}
                            <div class="position-pagination-commentaire">
                                <a href="{{ path('figure_details',{slug:slug,page:i}) }}" class="btn btn-danger">Page {{ i }}</a>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>

            {# fin pagination commentaire #}
        </div>
    </body>

{% endblock %}