{% extends 'base.html.twig' %}

{% block title %}
    {{ slug }}
{% endblock %}

{% block body %}
    <body class="bg-danger-home-degrade">
        {% for success in app.Flashes('success') %}
            <div class="alert alert-success" role="alert">{{ success }}</div>
        {% endfor %}
        <div class="container body_home ">
            <h1 class="text-center">Details : ''{{ figures.nom }}''</h1>
            <a href="{{ path('home') }}" class="btn btn-outline-dark"><i class="fa fa-arrow"></i> Retour à la liste</a>
            <hr>
            {# carrousel #}
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner ">
                    <div class="carousel-item active ">
                        <img src="{{ absolute_url(asset('images/' ~ figures.imagefig[ 0 ].image)) }}" alt="image"
                             class=" d-block w-100" style="height: 600px; width:100%">
                    </div>
                    {% for image in figures.imagefig %}
                        <div class="carousel-item ">
                            <img src="{{ absolute_url(asset('images/' ~  image.image)) }}" alt="image"
                                 class=" d-block w-100 " style="height: 600px; width: 100%">
                        </div>
                    {% endfor %}
                </div>
            </div>
            {# fin carousel #}
            <hr>

            <h2 class="text-center">Image associée à cette figure </h2>
            <div class="row row-cols-1 row-cols-md-4 g-4 justify-content-center" width="320" height="240">
                {% for image in figures.imagefig %}
                    <img src="{{ absolute_url(asset('images/' ~  image.image)) }}" alt="image" class="img-thumbnail object-fit-image">
                {% endfor %}
            </div>
            {# video #}
            <hr>

            <h2 class="text-center">Video associée</h2>

                   <div class=" row row-cols-1 row-cols-md-4 g-4 justify-content-center">
                       {% for video in figures.videofig %}
                           {% if figures.videofig is not null %}
                           <iframe width="560" height="315"
                                   src="{{ video.video }}"
                                   title="YouTube video player" frameborder="0"
                                   allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                           </iframe>
                           {% endif %}
                       {% endfor %}
                   </div>
               {# fin video #}
            <hr>

            {# description #}
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-center text-danger">{{ figures.nom }} </h4>
                    <p>{{ figures.description }}</p>
                    <p>Groupe : {{ figures.groupe }}</p>
                    <hr>
                    <p class="card-title text-muted">Auteur<br>
                        <img src="{{ absolute_url(asset('images/avatar/' ~ figures.utilisateurs.picture)) }}" alt="image"
                             class="avatar">
                        {{ figures.utilisateurs }}
                    </p>
                </div>
            </div>
            {# fin description #}

            {# formulaire commentaire #}
            {% if app.user %}
                {{ include('commentaires/_form.html.twig') }}
            {% else %}
                <hr>
                <details class="text-center">
                    <summary class="pt-2 font-title-form-comment ">Laisser vos commentaires <i
                                class="fa fa-comments text-danger"></i></summary>
                    <p class="pt-3">
                        Commenter une figure nécessite de
                        <a class="text-info btn " href="{{ path('app_login') }}"> Se Connecter</a>
                    </p>
                </details>
                <hr>
            {% endif %}
            {# fin formulaire commentaire #}

            <div class="card ">
                {% if app.user %}
                    {% if  figures.commentaire|length ==0  %}
                        <p class="text-center card-header">Soyez le premier à commenter cet article </p>
                    {% else %}
                        <h2 class="text-center card-header ">Les commentaires </h2>
                    {% endif %}
                {% endif %}

                {# -------------------------------------------------------------------- #}



                {# -------------------------------------------------------------------- #}
                <hr>
                 {% for commentaires in commentaireFigure %}
                    <div class="card-body bg bg-comment-degrade text-light">
                        <p class="text-center">" {{commentaires.contenu }} "</p>
                        <hr>
                        <span class="text-black">Commenté par :</span><br>
                        <img src="{{ absolute_url(asset('images/avatar/' ~ commentaires.utilisateurs.picture))}}" alt="image" class="avatar">
                        <span class="name_avatar"> {{ commentaires.utilisateurs|capitalize }}</span>
                        <p class="mt-2 text-black"><i class="fa fa-calendar"></i> Le {{ commentaires.dateDuCommentaire|date('d-m-Y') }} à {{ commentaires.dateDuCommentaire|date('H:i:s') }}</p>
                        #{{ figures.nom }}
                    </div>
                    <hr>
                {% endfor %}
            </div>
        </div>
    </body>

{% endblock %}