<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo"><i class="fas fa-plus-square"></i> Ajouter une figure</button>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Formulaire ajout figure</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ form_start(avatar) }}

                <div class="container" >
                    <div class="row">
                        {{ form_row(avatar.picture) }}
                    </div>
                     <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
                </div>
            <hr>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
            </div>
           {#  {{form_end(form)  }}#}
            {{ form_end(avatar) }}

            {{ dump() }}
        </div>
    </div>
</div>
