<nav class="navbar navbar-expand-lg navbar-light bg-navbar navbar-light sticky-top ">
    <div class="container-fluid">
        <a class="navbar-brand text-light " href="{{ path('home') }}"><i class="fa fa-snowboarding fa-2x text-danger"></i> <span class="font-google">SnowBoard</span>
           {#  <img src="{{ asset('logo/logo2.png') }}" alt="logo " width="100" height="70">#}
        </a>
        <button class="navbar-toggler text-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse  flex-row-reverse " id="navbarNav">
            <ul class="navbar-nav font-roboto " >
                <li class="nav-item">
                    <a class="nav-link active text-light" aria-current="page" href="{{ path('home') }}"><i class="fa fa-home fa-lg me-1 fa-fw"></i>Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href= "/#figures"><i class="fa fa-snowboarding fa-lg me-1 fa-fw"></i>Figure</a>
                </li>

                {% if app.user %}
                    {% if app.user.picture ==null %}
                        <li class="nav-item">
                            <a class="nav-link text-light" href="{{ path('home_avatar') }}" tabindex="-1" aria-disabled="false"><i class="fas  fa-user fa-lg me-1 fa-fw text-danger"></i>Avatar</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link  text-light" href="{{ path('app_logout') }}" tabindex="-1" aria-disabled="false"><i class="fas  fa-sign-out-alt fa-lg me-1 fa-fw text-danger"></i>Se Deconnecter</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ path('app_register') }}"> <i class="fas fa-user fa-lg me-1 fa-fw"></i>S'Incrire</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  text-light" href="{{ path('app_login') }}" tabindex="-1" aria-disabled="true" ><i class="fas  fa-sign-in-alt fa-lg me-1 fa-fw"></i> Se Connecter</a>
                    </li>
                {% endif %}
                {% if app.user %}
                        {% if app.user.picture == null %}
               <div class="avatar bg-danger " title="Ajouter votre avatar"><a href="{{ path('home_avatar') }}"><span class="text_avatar">{{ app.user.nom|first(1)|upper}}</span></a></div>
                        {% else %}
                            <span class="">
                                 <img src="{{ absolute_url(asset('images/avatar/' ~  app.user.picture ))}}" alt="picture" class="avatar">
                            </span>
                         {% endif %}
                {% endif %}

            </ul>
        </div>
    </div>
</nav>